@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mainBox {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
}

.btn,
.btn-primary,
.btn-lg {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn:hover,
.btn:active,
.btn:visited,
#fortuneButton:active {
    background-color: black;
    color: white;
    text-decoration: none;
}

#fortuneTextBox {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: justify;

}

span {
    color: white;
    font-size: 25px;
    margin-top: 5px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.rainbow {
    position: relative;
    z-index: 0;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}

.rainbow:before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
}

.rainbow:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
    animation: opacityChange 3s infinite alternate;
}

@keyframes opacityChange {
    1% {
        opacity: 0;
    }

    25% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: .5;
    }
}